{% if include.title %}
<div class="audio-player">
  <p class="audio-title">{{ include.title }}</p>
  <audio controls class="" src="https://media.githubusercontent.com/media/jeseyfried/jonathanseyfried.github.io/main{{ include.src }}">
    Your browser does not support the audio element.
  </audio>
</div>
{% else %}
<audio controls class="" src="https://media.githubusercontent.com/media/jeseyfried/jonathanseyfried.github.io/main{{ include.src }}">
  Your browser does not support the audio element.
</audio>
{% endif %}